//ARNHEM
$font-stack-arnhem: 'arnhem-blond', Georgia, serif;
$font-stack-arnhem-weight: 300;
$font-stack-arnhem-bold: 'arnhem-bold', Georgia, serif;
$font-stack-arnhem-bold-weight: 700;
$font-stack-arnhem-italic: 'arnhem-blonditalic', Georgia, serif;
$font-stack-arnhem-italic-weight: 300;

@font-face {
  font-family: 'arnhem-bold';
  src: url('../fonts/arnhem/Arnhem-Bold.eot');
  src: url('../fonts/arnhem//Arnhem-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/arnhem/Arnhem-Bold.woff') format('woff'),
       url('../fonts/arnhem/Arnhem-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'arnhem-bolditalic';
  src: url('../fonts/arnhem/Arnhem-BoldItalic.eot');
  src: url('../fonts/arnhem/Arnhem-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/arnhem/Arnhem-BoldItalic.woff') format('woff'),
       url('../fonts/arnhem/Arnhem-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'arnhem-blond';
  src: url('../fonts/arnhem/Arnhem-Blond.eot');
  src: url('../fonts/arnhem/Arnhem-Blond.eot?#iefix') format('embedded-opentype'),
       url('../fonts/arnhem/Arnhem-Blond.woff') format('woff'),
       url('../fonts/arnhem/Arnhem-Blond.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'arnhem-blonditalic';
  src: url('../fonts/arnhem/Arnhem-BlondItalic.eot');
  src: url('../fonts/arnhem/Arnhem-BlondItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/arnhem/Arnhem-BlondItalic.woff') format('woff'),
       url('../fonts/arnhem/Arnhem-BlondItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

//GENTONA
$font-stack-gentona-light: 'gentona-light', 'Helvetica Neue', Roboto, sans-serif;
$font-stack-gentona-light-weight: 300;
$font-stack-gentona-semibold: 'gentona-semibold', 'Helvetica Neue', Roboto, sans-serif;
$font-stack-gentona-semibold-weight: 600;
$font-header-gentona-verybold: 'gentona-bold', 'Helvetica Neue', Roboto, sans-serif;;
$font-header-gentona-verybold-weight: 700;

@font-face {
  font-family: 'gentona-light';
  src: url('../fonts/gentona/Gentona-Light.eot');
  src: url('../fonts/gentona/Gentona-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gentona/Gentona-Light.woff') format('woff'),
       url('../fonts/gentona/Gentona-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gentona-lightitalic';
  src: url('../fonts/gentona/Gentona-LightItalic.eot');
  src: url('../fonts/gentona/Gentona-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gentona/Gentona-LightItalic.woff') format('woff'),
       url('../fonts/gentona/Gentona-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'gentona-semibold';
  src: url('../fonts/gentona/Gentona-SemiBold.eot');
  src: url('../fonts/gentona/Gentona-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gentona/Gentona-SemiBold.woff') format('woff'),
       url('../fonts/gentona/Gentona-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gentona-bold';
  src: url('../fonts/gentona/Gentona-Bold.eot');
  src: url('../fonts/gentona/Gentona-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gentona/Gentona-Bold.woff') format('woff'),
       url('../fonts/gentona/Gentona-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

//Titling Gothic
$font-header-titling-regular: 'titling-gothic-medium', 'Helvetica Neue', Roboto, sans-serif;
$font-header-titling-regular-weight: 300;
$font-header-titling-medium: 'titling-gothic-medium', 'Helvetica Neue', Roboto, sans-serif;
$font-header-titling-medium-weight: 500;
$font-header-titling-bold: 'titling-gothic-bold', 'Helvetica Neue', Roboto, sans-serif;;
$font-header-titling-bold-weight: 700;

@font-face {
  font-family: 'titling-gothic-bold';
  src: url('../fonts/titling-gothic/Titling-Gothic-Bold.eot');
  src: url('../fonts/titling-gothic/Titling-Gothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/titling-gothic/Titling-Gothic-Bold.woff') format('woff'),
       url('../fonts/titling-gothic/Titling-Gothic-Bold.ttf') format('truetype'),
       url('../fonts/titling-gothic/Titling-Gothic-Bold.svg#titlinggothicbold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'titling-gothic-medium';
  src: url('../fonts/titling-gothic/Titling-Gothic-Medium.eot');
  src: url('../fonts/titling-gothic/Titling-Gothic-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/titling-gothic/Titling-Gothic-Medium.woff') format('woff'),
       url('../fonts/titling-gothic/Titling-Gothic-Medium.ttf') format('truetype'),
       url('../fonts/titling-gothic/Titling-Gothic-Medium.svg#titlinggothicmedium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'titling-gothic-regular';
  src: url('../fonts/titling-gothic/Titling-Gothic-Regular.eot');
  src: url('../fonts/titling-gothic/Titling-Gothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/titling-gothic/Titling-Gothic-Regular.woff') format('woff'),
       url('../fonts/titling-gothic/Titling-Gothic-Regular.ttf') format('truetype'),
       url('../fonts/titling-gothic/Titling-Gothic-Regular.svg#titlinggothicregular') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



//Icon Fonts
$font-awesome: "Font Awesome 5 Free", 'gentona-semibold', 'Helvetica Neue', Roboto, sans-serif;