// Apply outline styles only when input method is keyboard
// remove :focus style via What Input using progressive enhancement
// so :focus isn't left broken if JavaScript fails

[data-whatinput="mouse"] a:focus, button:focus
[data-whatinput="touch"] a:focus, button:focus {
  outline: none;
  color: $heritageblue;
}

.main-content, .main-content-full-width {
  p {
    a {
      box-shadow: inset 0 -0.125rem 0 0 $heritageblue;
      transition: box-shadow 0.2s;
      &:hover {
          color: $white;
          box-shadow: inset 0 -2.5rem 0 0 $heritageblue;
      }
    }
  }
}

.breadcrumbs {
    margin: 0 0 1rem 0;
    list-style: none;
    text-transform: uppercase;
    font-family: $font-header-gentona-verybold;
    font-weight: $font-header-gentona-verybold-weight;
    a {
      color: $heritageblue;
      &:hover {
        text-decoration: none;
      }
    }
}

.curated-posts-section-wrapper, .news-section-wrapper, .dean-seen-section-wrapper, .social-section-wrapper, .past-issues-section-wrapper {
  a {
  color: $black;
    &:hover, &:focus {
      color: $heritageblue;
    }
  }
}

