//NON-FEATURES SIDEBAR & FOOTER & CONTENT
.other-tags {
  .button-group {
    .button {
      background-color: $skyblue;
      font-family: gentona-bold;
    }
  }
}

.archive-listing {
 @include xy-cell(10);
}

.related-posts-container, .related-features-container {
  padding: 1rem;
  background: $light-gray;
  border-top: 1px solid $gray;
  .card {
    border: none;
  }
}

.feature {
  img.size-home-featured {
    height: 200px;
  }
}

//Related Posts
.related-post {
  a {
    box-shadow: inset 0 -0.125rem 0 0 $heritageblue;
    transition: box-shadow 0.2s;
    &:hover {
        color: $white;
        box-shadow: inset 0 -2.5rem 0 0 $heritageblue;
    }
  }
  .related-image-box {
    height: 150px;
    overflow: hidden;
    position: relative;
    .category-title {
      position: absolute;
      left: 0rem;
      background: $dark-gray;
      color: $white;
      padding: .5rem .5rem .125rem;
      text-transform: uppercase;
      font-family: $font-stack-gentona-semibold;
    }
    img {
      width: 100%;
    }
  }  
}

.tags-share.callout {
  a {
    color: $heritageblue;
    &:hover {
      color: $spiritblue;
      transition: color 0.5s ease;
    }
  }
}

.share-section {
  .menu {
    li.menu-text {
      font-family: $font-header-gentona-verybold;
      font-weight: $font-header-gentona-verybold-weight;
      text-transform: uppercase;
      padding: 0;
    }
    a {
      //padding: .525rem .75rem;
    }
  }
  .fa-2x {
    font-size: 1.75rem;
  }
}
.related-tags {
  h5 {
    text-transform: uppercase;
  }
  span.tags {
    text-transform: capitalize;
     a {
      box-shadow: inset 0 -0.125rem 0 0 $heritageblue;
      transition: box-shadow 0.2s;
      &:hover {
          color: $white;
          box-shadow: inset 0 -2.5rem 0 0 $heritageblue;
      }
    }
  }
}