.cover-story {
  @include breakpoint(small) {
    height: 45vh;
  }
  @include breakpoint (medium) {
    height: 50vh;
  }
  @include breakpoint (large) {
    height: 75vh;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &.mobile {
    height: inherit;
    .cover-story-title, .cover-story-excerpt {
      @include xy-cell(12);
    }

  }
  .middle-content-section {
    .marketing {
      @include xy-grid-container(75rem);
      @include xy-grid;
    }
    @include breakpoint(small only) {
      a {
        max-width: 90%;
      }
    }
    @include breakpoint(medium) {
      height: rem-calc(390);
    }

    @include breakpoint(large) {
      height: rem-calc(400);
      padding: rem-calc(35%) 0;
      a {
        &:hover {
          opacity: .7;
          transition: all .1s ease-in;
          border: none;
        }
      }      
    }

    @include breakpoint(xlarge) {
      height: rem-calc(500);
      background-position: center center;

    }
    .tagline {
      text-shadow: 4px 0px 36px rgba(44,44,51,0.63);
      @include breakpoint(small) {
        @include xy-cell(8);
      }

      @include breakpoint(medium) {
        @include xy-cell(9);
        padding-top: 1rem;
      }

      @include breakpoint (xlarge) {
        padding-top: 3rem;
      }
    }
    h1 {
      font-family: $font-header-gentona-verybold;
      font-weight: $font-header-gentona-verybold-weight;
      color: $white;
      margin-bottom: 0rem;
      span.cover {
        font-size: 65%;
        display: block;
      }
      @include breakpoint(small) {
        font-size: 2.2rem;
      }

      @include breakpoint(medium) {
        font-size: 2.5375rem;
      }

      @include breakpoint(large) {
        font-size: 2.875rem;
      }
    }
    h2 {
      color: $white;
      font-size: 1.3125rem;
    }
    h1, h2 {
     filter: drop-shadow(6px 10px 5px rgba(44,44,51,0.63));
    -webkit-filter: drop-shadow(6px 10px 5px rgba(44,44,51,0.63));
    -moz-filter: drop-shadow(6px 10px 5px rgba(44,44,51,0.63));
    }
  }

  .top-content-section {
    width: 100%;
  }

  .bottom-content-section {
    padding: 1rem;
  }
}
.sbi_item {
  position: relative;
}

.sbi_info {
  position: absolute;
  bottom: .125rem;
  .sbi_caption_wrap {
    color: $white;
    background: rgba(0,0,0,.55);
    font-family: $font-stack-gentona-semibold;
    font-weight: $font-stack-gentona-semibold-weight;
  }
  p {
    width: 98.5%;
  }
}
.curated-posts {
  h1.show-for-small-only {
    @include xy-cell(12);
  }
  .curated-post {
    h1 {
      font-family: $font-stack-gentona-semibold;
      font-weight: $font-stack-gentona-semibold-weight;
    }
    &.small {
      h1 {
        font-size: 1.25rem;
      }
      @include breakpoint (large) {
        .excerpt {
          font-size: 1rem;
        }
      }
    }
    &.large {
      h1 {
        font-size: 1.5rem;
      }
      @include breakpoint (large) {
        .excerpt {
          font-size: 1.125rem;
        }  
      }
    }
    .button.category {
      background-color: $light-gray;
      color: $black;
      font-size: .9rem;
    }
    .card {
      border: none;
    }
    .post-image {
      @include breakpoint(medium down) {
        display: block;
      }
    }
  }
}

.news-section-wrapper {
  background: $light-gray;
  .slick-slide {
    padding: 0 1rem 0 0;
    border-right: 1px solid #d9d9d9;
    @include breakpoint(small only) {
      border-right: none;
    }
    p {
      font-size: 1rem;
    }
  }
  .slick-dots li button:before {
    font-size: 1rem;
  }
  .slick-arrow {
    @include breakpoint(medium down) {
      margin: .5rem;
    }
  }
}

.social-section-wrapper {

}

.cta-section {
  .cta-link {
    background: $light-gray;
    padding: .5rem;
    .text {
      font-family: $font-stack-gentona-semibold;
      font-weight: $font-stack-gentona-semibold-weight;
    }
  }
}

.past-issues-section-wrapper {
  h1 {
    font-family: $font-header-gentona-verybold;
    font-weight: $font-header-gentona-verybold-weight;
  }
  .card {
    border: none;
    img {
      border: 1px solid #e0e0e0;
      padding: 1px;
      background: #fff;
      box-shadow: 2px 2px 7px #ccc;
      @include breakpoint(large){
        height: 375px;
      }
    }
    p {
      font-family: $font-stack-gentona-semibold;
      font-weight: $font-stack-gentona-semibold-weight;
    }
    .card-section {
      padding: 0rem;
    }
  }
}

.section-spacer {
    height: 4.5rem;
    clear: both;
    width: 100%;
    line-height: 1px;
}

.seen-heard {
  background-color: $dark-gray;
  .button.small.tag {
    color: $white;
    background-color: $spiritblue;
    &:hover {
      background-color: $heritageblue;
    }
  }
  blockquote {
    border: none;
    padding-left: 0rem;
    line-height: 1.4;
    font-size: 1.25rem;
    font-family: $font-stack-gentona-semibold;
    font-weight: $font-stack-gentona-semibold-weight;
  }
  blockquote, blockquote p {
    color: $white;
    margin-bottom: 0rem;
  }
  cite {
    color: $white;
    text-align: right;
    font-size: 1.125rem;
    a {
      color: $spiritblue;
      &:hover {
        color: $heritageblue;
      }
    }
  }
}

.deans-desktop {
  h1 {
    font-family: $font-header-gentona-verybold;
    font-weight: $font-header-gentona-verybold-weight;
  }
}

.curated-post, .seen-heard {
  .button, button {
    font-family: $font-header-gentona-verybold;
    font-weight: $font-header-gentona-verybold-weight;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.6), 0 0 8px 0 rgba(0, 0, 0, 0.5);
    }
    &::focus {
      box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    }
  }  
}