//Single Posts
.entry-meta {
  margin: 1rem 0rem;
  p.byline.issue, p.byline.author {
    margin-bottom: 0rem;
    font-family: $font-stack-gentona-light;
    font-weight: $font-stack-gentona-light-weight;
    line-height: 1.3em;
  }
}
.post-header {
  .featured-hero {
    margin-bottom: 1rem;
  } 
}

.tag-snapshot {
	/* Add vertical breathing room to the full row of columns. */
	.wp-block-columns {
	  margin: 20px 0;
	}

	/* Add horiztonal breathing room between individual columns. */
	.wp-block-column {
	  margin: 0 20px;
	}
	.wp-block-column:first-child {
		flex-basis: calc(40% - 16px);
  	}
  	.wp-block-column:last-child {
		flex-basis: calc(60% - 16px);
  	}

  	.wp-block-quote {
  		padding-top: 1rem;
  		blockquote {
  			max-width: 75%;
  			padding-left: 0rem;
  			p {
  				font-size: 1.5rem;
  			}
  		}
  		cite {
			font-size: 1rem;
			line-height: 1.25;
  		}	  		
  	}
}

.tag-major-infatuation {
  figure.wp-block-pullquote {
    color: $black;
    text-align: left;
    margin: .5rem 0;
    padding: .5rem 0;
    border: none;
    p:before {
      content: none;
    }
    cite {
      font-size: 1rem;
      line-height: 1.25;
      font-weight: bold;
      &::before {
        content: "--";
      }
    }  
  }
}