.main-navigation {
  @include xy-grid();
  @include xy-grid-container();
  .top-bar-right {
    @include xy-cell-offset(2%);
  }
}

.search-box {
  .input-group.search {
    margin-bottom: 0;
  }
  input {
    &[type='text'] {
      font-family: $font-stack-gentona-semibold;
    }
    &[type="submit"] {
      font-family: $font-awesome !important;
    }
    &.search-field {
    height: 34px;
    }
  }
  .input-group-button {
    height: 35px;
  }
}

.site-header, .top-bar, .top-bar ul  {
  @include breakpoint(small only) {
    background: $white;
  }
  background: $heritageblue;
}

// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}
//
.desktop-menu, .mast-head,
.site-navigation .top-bar-left, .site-navigation .top-bar-center, .site-navigation .top-bar-right {
  @include show-for(medium);
}

// Site title
.site-title-bar {
  background: $black;
  font-family: $font-header-gentona-verybold;
  a {
    color: $white;
  }
}

.mobile-off-canvas-menu {
 background: $black;
  a {
    font-family: $font-stack-gentona-semibold;
    color: $white;
    &:focus, &:hover {
      color: $spiritblue;
    }
    &:focus {
      outline: -webkit-focus-ring-color auto 5px;
    }
  }
  
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}


//Top Bar
.top-bar, .mast-head {
  .menu {
    a {
    font-family: $font-stack-gentona-semibold;
    font-weight: $font-stack-gentona-semibold-weight;
    @include breakpoint(small) {
      font-size: 1rem
    }
    @include breakpoint(medium) {
      font-size: 1.125rem;
    }
    @include breakpoint(xlarge) {
      font-size: 1.25rem
    }  
    
    &:hover {
        color: $spiritblue;
      }
    }
  }
  padding-bottom: 0rem;
}

.mast-head {
  @include breakpoint (large) {
    margin-top: 2rem;
  }
  a {
    color: $white;
    &:hover, &:visited, &:active {
      color: $white;
    }
    &:focus {
      color: $white !important;
    }
  }
  @include breakpoint(medium only) {
   padding: .5rem; 
  }  
}

.site-menu {
  .dropdown.menu.desktop-menu {
    @include breakpoint(large) {
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  }
}

ul.dropdown.menu.vertical.submenu.is-dropdown-submenu {
  background: $white;
  li {
    border-bottom: 1px solid $gray;
    a {
      color: $black;
      &:hover {
        text-decoration: none;
        background: $spiritblue;
        color: $white;
        padding-left: 1rem;
      }
    }
  }
}

.dropdown.menu > li.is-active > a {
  color: $spiritblue;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: $spiritblue transparent transparent;
}


.site-title {
  h1 {
    font-family: $font-header-titling-medium;
    font-weight: $font-header-titling-medium-weight;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    @include breakpoint(medium) {
      font-size: 2rem;
    }
    @include breakpoint(large) {
      font-size: 2.5rem;
    }
  }
}

.site-shield {
  @include breakpoint(medium) {  
     margin: 0rem .75rem 1rem;
  }
  @include breakpoint(medium only) {
    
  }
  @include breakpoint(large) {  
    img {
      //max-width: 250px;
    }
  }
}

//Divisional logo on small only displays
.mobile-logo {
  margin-bottom: -1rem;
  margin-top: -1rem;
  img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;    
  }

}

//Explore KSAS area

.roof-header-top {
  width: 100%;
  height: 1.5rem;
  padding: 1rem 2.5rem 1.25rem;
  li.bar {
    &:after { 
      font-family: $font-stack-gentona-semibold;
      content: "|";
      color: $black;
      }
  }
  .roof-menu {
    font-size: 1rem;
  }
  .menu.simple {
    a.button {
      padding: 0.7rem 1rem;
    }
  }
  .roof-header-top-links {
    @include xy-grid-container();
    .roof-menu {
      @include xy-grid();
      margin-right: 1rem;
      a {
        font-family: $font-stack-gentona-semibold;
        font-weight: $font-stack-gentona-semibold-weight;
        color: $white;
      }
    }
  }
  .button, a.button {
    background-color: $white;
    color: $heritageblue !important;
    &:hover {
      background-color: $heritageblue;
      color: $white !important;
      border: 1px solid $white;
    }
    &:focus {
      outline: -webkit-focus-ring-color auto 5px;
      color: $spiritblue;
    }
  }  
  .off-canvas {
    background: $white;
    .menu > li > a {
      color: $white;
      &:hover {
        background: $light-gray;
      }
    }
  }
  #global-links {
    h3 {
      font-size: 1.25rem;
      color: $black;
      font-family: $font-stack-gentona-semibold;
      font-weight: $font-stack-gentona-semibold-weight;
    }
    .menu {
      display: inherit;
      li {
        display: list-item;
        a {
          padding: 0.35rem 1rem; 
          font-family: $font-stack-gentona-semibold;
          font-weight: $font-stack-gentona-semibold-weight;
          color: $heritageblue;
          &:hover, &:active {
              color: $black;
          }
        }      
      }
    }
  } 
  form { 
    @include breakpoint (medium) {
      width: 200px;      
    }
    input {
      height: 2rem;
      &[type="submit"] {
        font-family: $font-awesome;
      }
      &[type="text"] {
          width: 75%;
      }      
    }
    .input-group {
      margin-bottom: 0;
    }
    .button {
      padding: 0 1rem;
    }
  }

}